<?xml version="1.0" encoding="UTF-8"?>
<settings>
  <category label="Global">
    <setting id="host" type="enum" label="Host type" values="local|remote over ssh" />
    <setting label="IP Address" type="ipaddress" id="host_ip" visible="!eq(-1,0)" default="127.0.0.1" />
    <setting label="Port" type="number" id="host_port" visible="!eq(-2,0)" default="22" />
    <setting label="Requires passphraseless SSH or keystore!" type="text" id="host_note" visible="!eq(-3,0)" enable="false" value="" />
    <setting label="Path to mipow.exp command" type="text" id="host_path" visible="!eq(-4,0)" default="/home/raspi/mipow.exp" />
    <setting label="Threads" id="threads" type="enum"  default="0" values="1|2|3|4" />
  </category>
  <category label="Playbulbs">
    <setting visible="eq(4,)" label="Discover playbulbs" type="lsep"/>
    <setting label="No playbulbs known. Run discover first!" type="text" visible="eq(3,)" enable="false"/>
    <setting label="Start discovery" type="action" action="RunScript($ID,discover)" default=""/>
    <setting label="Bulb 1" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_0_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_0_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_0_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_0_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_0_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 2" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_1_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_1_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_1_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_1_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_1_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 3" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_2_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_2_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_2_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_2_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_2_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 4" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_3_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_3_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_3_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_3_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_3_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 5" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_4_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_4_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_4_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_4_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_4_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 6" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_5_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_5_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_5_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_5_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_5_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 7" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_6_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_6_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_6_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_6_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_6_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
    <setting label="Bulb 8" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_7_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_7_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_7_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_7_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_7_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>

    <setting label="Bulb 9" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_8_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_8_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_8_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_8_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_8_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>

    <setting label="Bulb 10" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_9_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_9_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_9_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_9_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_9_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>

    <setting label="Bulb 11" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_10_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_10_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_10_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_10_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_10_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>

    <setting label="Bulb 12" type="lsep" visible="!eq(1,)"/>
    <setting label="MAC" type="text" id="dev_11_mac" visible="!eq(0,)" enable="false" default=""/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="dev_11_name" enable="false" default=""/>
    <setting label="Enabled" type="bool" id="dev_11_enabled" default="true" visible="!eq(-2,)"/>
    <setting label="Groups" id="dev_11_groups" type="enum"  default="" values="_____|A____|_B___|AB___|__C__|A_C__|_BC__|ABC__|___D_|A__D_|_B_D_|AB_D_|__CD_|A_CD_|_BCD_|ABCD_|____E|A___E|_B__E|AB__E|__C_E|A_C_E|_BC_E|ABC_E|___DE|A__DE|_B_DE|AB_DE|__CDE|A_CDE|_BCDE|ABCDE" visible="!eq(-3,)" />
    <setting label="Icon" id="dev_11_icon" type="enum" values="Lamp|Globe|Livingroom|Bedroom|Kitchen|Bathroom|Hall|Candle" visible="!eq(-4,)"/>
  </category>
  <category label="Groups">
    <setting label="Group A" id="group_0" type="text" default="Group A" />
    <setting label="Group B" id="group_1" type="text" default="Group B" />
    <setting label="Group C" id="group_2" type="text" default="Group C" />
    <setting label="Group D" id="group_3" type="text" default="Group D" />
    <setting label="Group E" id="group_4" type="text" default="Group E" />
    <setting label="Display Group All" id="group_all" type="bool" default="False" />
  </category>
  <category label="Presets">
    <setting label="Color 1" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_0_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_0_name" default="white"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_0_color" default="255.0.0.0"/>
    <setting label="Color 2" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_1_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_1_name" default="red"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_1_color" default="0.255.0.0"/>
    <setting label="Color 3" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_2_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_2_name" default="yellow"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_2_color" default="0.255.255.0"/>
    <setting label="Color 4" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_3_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_3_name" default="green"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_3_color" default="0.0.255.0"/>
    <setting label="Color 5" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_4_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_4_name" default="cyan"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_4_color" default="0.0.255.255"/>
    <setting label="Color 6" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_5_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_5_name" default="blue"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_5_color" default="0.0.0.255"/>
    <setting label="Color 7" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_6_enabled" default="true"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_6_name" default="magenta"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_6_color" default="0.255.0.255"/>
    <setting label="Color 8" type="lsep"/>
    <setting label="Enabled" type="bool" id="fav_7_enabled" default="false"/>
    <setting label="Name" visible="!eq(-1,)" type="text" id="fav_7_name" default="off"/>
    <setting label="Color (WRGB)" type="ipaddress" id="fav_7_color" default="0.0.0.0"/>
  </category>
  <category label="Effects">
    <setting label="Rainbow" type="lsep"/>
    <setting label="Enabled" type="bool" id="effect_rainbow_enabled" default="true"/>
    <setting label="Duration 1 (sec.)" type="slider" id="effect_rainbow_sec_0" default="360" option="int" range="30,15,390"/>
    <setting label="Duration 2 (sec.)" type="slider" id="effect_rainbow_sec_1" default="180" option="int" range="30,15,390"/>
    <setting label="Duration 3 (sec.)" type="slider" id="effect_rainbow_sec_2" default="90" option="int" range="30,15,390"/>
    <setting label="Duration 4 (sec.)" type="slider" id="effect_rainbow_sec_3" default="60" option="int" range="30,15,390"/>
    <setting label="Duration 5 (sec.)" type="slider" id="effect_rainbow_sec_4" default="30" option="int" range="30,15,390"/>
    <setting label="Disco" type="lsep"/>
    <setting label="Enabled" type="bool" id="effect_disco_enabled" default="true"/>
    <setting label="BPM 1" type="slider" id="effect_disco_bpm_0" default="80" option="int" range="25,5,200"/>
    <setting label="BPM 2" type="slider" id="effect_disco_bpm_1" default="100" option="int" range="25,5,200"/>
    <setting label="BPM 3" type="slider" id="effect_disco_bpm_2" default="120" option="int" range="25,5,200"/>
    <setting label="BPM 4" type="slider" id="effect_disco_bpm_3" default="150" option="int" range="25,5,200"/>
    <setting label="BPM 5" type="slider" id="effect_disco_bpm_4" default="25" option="int" range="25,5,200"/>
    <setting label="Candle" type="lsep"/>
    <setting label="Enabled" type="bool" id="effect_candle_enabled" default="false"/>
    <setting label="Pulse" type="lsep"/>
    <setting label="Enabled" type="bool" id="effect_pulse_enabled" default="false"/>
    <setting label="Duration 1 (sec.)" type="slider" id="effect_pulse_sec_0" default="1" option="int" range="1,1,120"/>
    <setting label="Duration 2 (sec.)" type="slider" id="effect_pulse_sec_1" default="5" option="int" range="1,1,120"/>
    <setting label="Duration 3 (sec.)" type="slider" id="effect_pulse_sec_2" default="10" option="int" range="1,1,120"/>
    <setting label="Duration 4 (sec.)" type="slider" id="effect_pulse_sec_3" default="30" option="int" range="1,1,120"/>
    <setting label="Duration 5 (sec.)" type="slider" id="effect_pulse_sec_4" default="60" option="int" range="1,1,120"/>
    <setting label="Blink" type="lsep"/>
    <setting label="Enabled" type="bool" id="effect_blink_enabled" default="false"/>
    <setting label="BPM 1" type="slider" id="effect_blink_bpm_0" default="80" option="int" range="25,5,200"/>
    <setting label="BPM 2" type="slider" id="effect_blink_bpm_1" default="100" option="int" range="25,5,200"/>
    <setting label="BPM 3" type="slider" id="effect_blink_bpm_2" default="120" option="int" range="25,5,200"/>
    <setting label="BPM 4" type="slider" id="effect_blink_bpm_3" default="150" option="int" range="25,5,200"/>
    <setting label="BPM 5" type="slider" id="effect_blink_bpm_4" default="25" option="int" range="25,5,200"/>
  </category>
  <category label="Programs">
    <setting label="Fade" type="lsep"/>
    <setting label="Enabled" type="bool" id="program_fade_enabled" default="true"/>
    <setting label="Duration 1 (min.)" type="slider" id="program_fade_min_0" default="1" option="int" range="1,1,255"/>
    <setting label="Duration 2 (min.)" type="slider" id="program_fade_min_1" default="5" option="int" range="1,1,255"/>
    <setting label="Duration 3 (min.)" type="slider" id="program_fade_min_2" default="15" option="int" range="1,1,255"/>
    <setting label="Duration 4 (min.)" type="slider" id="program_fade_min_3" default="30" option="int" range="1,1,255"/>
    <setting label="Duration 5 (min.)" type="slider" id="program_fade_min_4" default="60" option="int" range="1,1,255"/>    
    <setting label="BGR" type="lsep"/>
    <setting label="Enabled" type="bool" id="program_bgr_enabled" default="true"/>
    <setting label="Brightness 1" type="slider" id="program_bgr_brightness_0" default="15" option="int" range="1,1,255"/>
    <setting label="Brightness 2" type="slider" id="program_bgr_brightness_1" default="31" option="int" range="1,1,255"/>
    <setting label="Brightness 3" type="slider" id="program_bgr_brightness_2" default="63" option="int" range="1,1,255"/>
    <setting label="Brightness 4" type="slider" id="program_bgr_brightness_3" default="127" option="int" range="1,1,255"/>
    <setting label="Duration 1 (min.)" type="slider" id="program_bgr_min_0" default="60" option="int" range="4,4,1440"/>
    <setting label="Duration 2 (min.)" type="slider" id="program_bgr_min_1" default="120" option="int" range="4,4,1440"/>
    <setting label="Duration 3 (min.)" type="slider" id="program_bgr_min_2" default="180" option="int" range="4,4,1440"/>
    <setting label="Duration 4 (min.)" type="slider" id="program_bgr_min_3" default="240" option="int" range="4,4,1440"/>
    <setting label="Duration 5 (min.)" type="slider" id="program_bgr_min_4" default="360" option="int" range="4,4,1440"/>
    <setting label="Wakeup" type="lsep"/>
    <setting label="Enabled" type="bool" id="program_wakeup_enabled" default="true"/>
    <setting label="Duration 1 (min.)" type="slider" id="program_wakeup_min_0" default="15" option="int" range="15,15,360"/>
    <setting label="Duration 2 (min.)" type="slider" id="program_wakeup_min_1" default="30" option="int" range="15,15,360"/>
    <setting label="Duration 3 (min.)" type="slider" id="program_wakeup_min_2" default="45" option="int" range="15,15,360"/>
    <setting label="Duration 4 (min.)" type="slider" id="program_wakeup_min_3" default="60" option="int" range="15,15,360"/>
    <setting label="Duration 5 (min.)" type="slider" id="program_wakeup_min_4" default="90" option="int" range="15,15,360"/>
    <setting label="Doze" type="lsep"/>
    <setting label="Enabled" type="bool" id="program_doze_enabled" default="true"/>
    <setting label="Duration 1 (min.)" type="slider" id="program_doze_min_0" default="15" option="int" range="15,15,360"/>
    <setting label="Duration 2 (min.)" type="slider" id="program_doze_min_1" default="30" option="int" range="15,15,360"/>
    <setting label="Duration 3 (min.)" type="slider" id="program_doze_min_2" default="45" option="int" range="15,15,360"/>
    <setting label="Duration 4 (min.)" type="slider" id="program_doze_min_3" default="60" option="int" range="15,15,360"/>
    <setting label="Duration 5 (min.)" type="slider" id="program_doze_min_4" default="90" option="int" range="15,15,360"/>
    <setting label="Ambient" type="lsep"/>
    <setting label="Enabled" type="bool" id="program_ambient_enabled" default="true"/>
    <setting label="Duration 1 (min.)" type="slider" id="program_ambient_min_0" default="15" option="int" range="15,15,240"/>
    <setting label="Duration 2 (min.)" type="slider" id="program_ambient_min_1" default="30" option="int" range="15,15,240"/>
    <setting label="Duration 3 (min.)" type="slider" id="program_ambient_min_2" default="45" option="int" range="15,15,240"/>
    <setting label="Duration 4 (min.)" type="slider" id="program_ambient_min_3" default="90" option="int" range="15,15,240"/>
    <setting label="Duration 5 (min.)" type="slider" id="program_ambient_min_4" default="120" option="int" range="15,15,240"/>
  </category>
</settings>
